#subtitile {
  font-weight: 400;
  font-size: 28px;
}
#logohome{
    text-align: left;
     margin-left: -5%;
     margin-bottom: -5%;
     padding-bottom: 0%;
}
#login {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
     0 8px 16px rgba(0, 0, 0, .1);
}
